<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Volunteer Me</title>

    <!-- Vendor CSS -->
    <link href="/vendors/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
    <link href="/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet">
    <link href="/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">

    <!-- CSS -->
    <link href="/Content/app.min.1.css" rel="stylesheet">
    <link href="/Content/app.min.2.css" rel="stylesheet">


    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href="~/Content/custom.css" rel="stylesheet" />

    @RenderSection("styles", required: false)


</head>
<body ng-app="citrusApp">
    <header id="header">
        @Html.Partial("Material/_Header")
    </header>
    <section id="main">
        @*<aside id="sidebar">
            @Html.Partial("Material/_LeftSideBar")
        </aside>*@

        <section id="content">
            <div class="container">
                @RenderBody()
            </div>
        </section>

    </section>

    <footer id="footer">
        @Html.Partial("Material/_Footer")
    </footer>

    
    <!-- Javascript Libraries -->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls-0.14.3.js"></script>

    <script src="/vendors/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="/vendors/bower_components/flot/jquery.flot.js"></script>
    <script src="/vendors/bower_components/flot/jquery.flot.resize.js"></script>
    <script src="/vendors/bower_components/flot.curvedlines/curvedLines.js"></script>
    <script src="/vendors/sparklines/jquery.sparkline.min.js"></script>
    <script src="/vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>

    <script src="/vendors/bower_components/moment/min/moment.min.js"></script>
    <script src="/vendors/bower_components/fullcalendar/dist/fullcalendar.min.js "></script>
    <script src="/vendors/bower_components/simpleWeather/jquery.simpleWeather.min.js"></script>
    <script src="/vendors/bower_components/jquery.nicescroll/jquery.nicescroll.min.js"></script>
    <script src="/vendors/bower_components/Waves/dist/waves.min.js"></script>
    <script src="/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
    <script src="/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js"></script>

    <!-- Placeholder for IE9 -->
    <!--[if IE 9 ]>
        <script src="/vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
    <![endif]-->

    <script src="/Scripts/flot-charts/curved-line-chart.js"></script>
    <script src="/Scripts/flot-charts/line-chart.js"></script>
    <script src="/Scripts/charts.js"></script>

    <script src="/Scripts/charts.js"></script>
    <script src="/Scripts/functions.js"></script>
    @*<script src="/Scripts/demo.js"></script>*@

    <script src="~/Scripts/citrus.js"></script>
    <script src="~/Scripts/citrus.ng.app.js"></script>
    <script src="~/Scripts/citrus.services.js"></script>

    @RenderSection("pageInitScripts", required: false)
    @RenderSection("scripts", required: false)
</body>